<!DOCTYPE html>
<html>
    <head>
        <title>ML API</title>
    </head>

<body>
<div class="login">
    <h1>Cocktail Recommendation</h1>

    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="drink" placeholder="drink" required="required" /><br>
        <!-- <input type="text" name="ingredients" placeholder="ingredients" required="required" /><br> -->

        <button type="submit">Recommend</button>
    </form>

    <br>
    <br>

    <div>
        {{prediction_text}}
    
</body>
</html>